/*
Font: 		Feisty
Style: 		Regular
URL: 		https://youworkforthem.com/font/T24791/feisty
Foundry: 	alenaganzhela
Foundry: 	https://youworkforthem.com/designer/1928/alenaganzhela
Copyright:	by alenaganzhela
Version: 	18
Created:	April 06, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'FeistyRegular';
	src: url('feisty.woff2') format('woff2'),
	     url('feisty.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
